body {
  padding-top: 0;
margin: 0 auto;
}

.sidebar-nav {
  display: flex;
  border-bottom: 1px solid #eee;
}

.sidebar-nav li {
  padding: 5px 0;
}

.sidebar-nav li a {
  display: block;
  padding: 3px 0 3px 10px;
  text-decoration: none;
  color: #333;
}

.sidebar-nav li a:hover {
  text-decoration: underline;
  color: #007bff;
}

.page-links {
  text-align: center;
  padding: 10px 0;
}

.page-links a {
  margin: 0 5px;
  text-decoration: none;
  color: #007bff;
}

.page-links a:hover {
  text-decoration: underline;
}

.page-current {
  font-weight: bold;
  margin: 0 5px;
}

.container-fluid {
    margin-top: 20px;
}

.sidebar-nav {
    padding: 10px;
    list-style: none;
    background-color: #f8f9fa;
    border-radius: 5px;

}

.pagination {
    margin-top: 20px;
}

.img {
    width: 300px;
}
